In [43]:
import pandas as pd
import numpy as np

In [24]:
df_terrorism = pd.read_csv('/Users/Sneha/Desktop/terrorismData.csv')
#display(df_terrorism)
df_terrorism.head()

,Year,Month,Day,Country,State,Region,City,Latitude,Longitude,AttackType,Killed,Wounded,Target,Summary,Group,Target_type,Weapon_type
0,1970,7,2,Dominican Republic,NaN,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,Assassination,1.0,0.0,Julio Guzman,NaN,MANO-D,Private Citizens & Property,Unknown
1,1970,0,0,Mexico,Federal,North America,Mexico city,19.371887,-99.086624,Hostage Taking (Kidnapping),0.0,0.0,"Nadine Chaval, daughter",NaN,23rd of September Communist League,Government (Diplomatic),Unknown
2,1970,1,0,Philippines,Tarlac,Southeast Asia,Unknown,15.478598,120.599741,Assassination,1.0,0.0,Employee,NaN,Unknown,Journalists & Media,Unknown
3,1970,1,0,Greece,Attica,Western Europe,Athens,37.997490,23.762728,Bombing/Explosion,NaN,NaN,U.S. Embassy,NaN,Unknown,Government (Diplomatic),Explosives
4,1970,1,0,Japan,Fukouka,East Asia,Fukouka,33.580412,130.396361,Facility/Infrastructure Attack,NaN,NaN,U.S. Consulate,NaN,Unknown,Government (Diplomatic),Incendiary

#### 1. Find the most dangerous city in Jammu and Kashmir and the terrorist group which is most active in that city. Print count of number of attacks in that city as integer value. Note:Ignoring the Unknown Terrorist Group. Here dangerous is related with the number of terrorist attacks.

In [4]:
df_state = df_terrorism[df_terrorism['State'] == 'Jammu and Kashmir']
city_list = df_state['City'].value_counts()
city = city_list.index[0]  #city 
attack = city_list.values[0] #count

df_state = df_state[df_state['City'] == city]
group = df_state['Group'].value_counts().index[1]
print(f"City: {city}, Attack: {attack}, Group: {group}")

City: Srinagar, Attack: 657, Group: Muslim Separatists

#### 2. New government in India was formed on 26 May 2014. So current government's span is from 26th May 2014 to current. Find out two things from this period-
#### i. . Total number of attacks done in this period in India. Find this count as integer.
#### ii. Which Terrorist group was most active in this period in India. Most active means, group which has done maximum number of attacks.
#### iii. Ignore the Unknown group.

In [82]:
df_gov = df_terrorism[df_terrorism['Country'] == 'India']
df_gov = df_gov[df_gov['Year'] >= 2014]
ind_month = df_gov[(df_gov['Year']== 2014) & (df_gov['Month'] < 5)].index
ind_day = df_gov[(df_gov['Year'] == 2014) & (df_gov['Month'] == 5) & (df_gov['Day'] < 26)].index

df_gov.drop(ind_month, inplace = True)
df_gov.drop(ind_day, inplace = True)

total_attacks_in_india = df_gov.shape[0]
group = df_gov['Group'].value_counts().index[1]

print(f"Total no. of attacks: {total_attacks_in_india}, Group: {group}")

Total no. of attacks: 3336, Group: Maoists

#### 3. Find the frequency of the Casualty in Red Corridor states and in Jammu and Kashmir ?Here Frequency is (Total Casualty/Total Number of  years).  Print frequency as integer value.
#### Note:Red Corridor states include Jharkhand, Odisha, Andhra Pradesh, and Chhattisgarh. Here Casualty=Killed +Wounded.Don't fill the nan value present in Killed and Wounded feature.

In [55]:
df_red_jk = df_terrorism[df_terrorism['Country'] == 'India']
df_red_jk.loc[:,'Casualty'] = df_red_jk['Killed'] + df_red_jk['Wounded']
#df_red_jk.head()
jandk = df_red_jk[df_red_jk['State'] == 'Jammu and Kashmir']
red_states= df_red_jk[(df_red_jk['State'] == 'Jharkhand') | (df_red_jk['State'] == 'Odisha') | 
                      (df_red_jk['State'] == 'Andhra Pradesh') | (df_red_jk['State'] == 'Chattisgarh')]

jandk_casualty = int(np.sum(jandk['Casualty']))
red_casualty = int(np.sum(red_states['Casualty']))

years_jandk = len(pd.unique(jandk['Year']))
years_red = len(pd.unique(red_states['Year']))

print(jandk_casualty//years_jandk,red_casualty // years_red)

395 97

#### 4. Find the most deadliest attack in the history of humankind. Print count of Killed people as integer value. Note: Here deadliest attack means, in which most number of people were killed. Print as NumberOfPeopleKilled Country TerroristGroup

In [69]:
max_killed = max(df_terrorism['Killed'])
group = df_terrorism[df_terrorism['Killed'] == max_killed]['Group'].values[0]
country = df_terrorism[df_terrorism['Killed'] == max_killed]['Country'].values[0]

print(f"Killed: {int(max_killed)}, Group: {group}, Country: {country}")

Killed: 1570, Group: Islamic State of Iraq and the Levant (ISIL), Country: Iraq

#### 5. Find out the Country with Highest Number of Terror Attack and in which year the most number of terrorist attack happened in that country. Print count of terror attacks as integer value. Print as Country NumberOfAttacks Year

In [81]:
countries = df_terrorism['Country'].value_counts()
country = countries.index[0]
attacks = countries.values[0]

df_country = df_terrorism[df_terrorism['Country'] == country]
years = df_country['Year'].value_counts().index[0]

print(f"Country: {country}, NumberOfAttacks: {attacks}, Year: {years}")

Country: Iraq, NumberOfAttacks: 24636, Year: 2014